go 1.26

use (
	.
	./cmd/migrate
	./database/cassandra/v2
	./database/clickhouse
	./database/cockroachdb
	./database/couchbase
	./database/duckdb
	./database/firebird
	./database/mongodb/v2
	./database/mysql
	./database/neo4j
	./database/pgx/v5
	./database/postgres
	./database/ql
	./database/redshift
	./database/rqlite
	./database/snowflake
	./database/spanner
	./database/sqlcipher
	./database/sqlite
	./database/sqlite3
	./database/sqlserver
	./database/yugabytedb
	./source/aws_s3
	./source/bitbucket
	./source/file
	./source/gitea
	./source/github
	./source/github_ee
	./source/gitlab
	./source/go_bindata
	./source/godoc_vfs
	./source/google_cloud_storage
	./source/httpfs
	./source/iofs
	./source/pkger
)
